<div>
    <p>
        <b>Matricule Etudiant : </b>
        {{intervention?.etudiant.matricule}}
    </p>
    <p>
        <b>Nom : </b>
        {{intervention?.sousCategorie.libelle}}
    </p>
    <p>
        <b>Description : </b>
        {{intervention?.libelleIntervention}}
    </p>
    <p>
        <b>Personnel : </b>
        <span *ngIf="intervention?.personnel == null"> AUCUN </span>
        <span *ngIf="intervention?.personnel != null"> {{intervention?.personnel.nom}} {{intervention.personnel.prenom}}
        </span>
    </p>
    <p>
        <b>Piece Jointes : </b>
        <span *ngIf="intervention?.pieceJointe.length == 0"> AUCUNE PIECE JOINTE </span>
        <span *ngIf="intervention?.pieceJointe.length != 0"> <i (click)="downloadFile()" style="font-size: 1.5em; cursor: pointer;" class='bx bx-file bx-tada' ></i>{{intervention?.pieceJointe.fileName}}
        </span>
    </p>
    <p>
        <b>Status : </b>
        {{intervention?.status}}
    </p>
</div>