<aside class="aside">
    <div class="contenu-aside ">
        <div class="logo container">
            <img src="../../../../../assets/images/usj.png" alt="">
        </div>
        <div class="links">
            <ul>
                <li [routerLink] = "['dashboard']"><a [routerLink] = "['dashboard']"class="link">Dashboard</a></li>
                <li [routerLink] = "['departement']"><a [routerLink] = "['departement']" class="link">Departement</a></li>
                <li [routerLink] = "['interventions']"><a [routerLink] = "['interventions']" class="link">Interventions</a></li>
                <li [routerLink] = "['statistiques']"><a [routerLink] = "['statistiques']" class="link">Statistiques</a></li>
                <li [routerLink] = "['etudiants']"><a [routerLink] = "['etudiants']" class="link">Etudiants</a></li>
                <li [routerLink] = "['personnels']"><a [routerLink] = "['personnels']" class="link">personnels</a></li>
            </ul>
        </div>
    </div>
    <button (click)="logOut()">Deconnexion</button>
</aside>