<app-home-header></app-home-header>
<app-home-nav></app-home-nav>

<!-- A propos section  -->
<section class="about-section reveal" id="apropos">
    <div class="sous-about-content container">
        <div class="row content-about">
            <div class="col-md-6 col-ms-12">
                <h2>A Propos</h2>
                <p>L’institut Universitaire Saint Jean, portée par la Congrégation des Frères Saint Jean est très
                    recement passé
                    de ISJ à IUSJ. Cette institution se développe dans la même lignée que deux aînés bien connus, le
                    Collège Vogt
                    pour le secondaire, et Prépa Vogt pour le supérieur. Son but est de répondre aux besoins de
                    formation
                    techniques professionnelles et d’ingénierie de haut niveau sans avoir à quitter le Cameroun. L’ISJ
                    entend de
                    poursuivre son projet initial qu’es d’assurer une formation de qualité au plus grand nombre possible
                    de jeunes
                    Camerounais, en offrant sur place l’opportunité de préparer et d’obtenir des diplômes aux standards
                    internationaux, reconnus au Cameroun et partout dans le monde à travers ses deux principales
                    Filières connus
                    sous les appellations de: <b> Licence Professionnelle, Ingénieur, Master et Management</b></p>
            </div>
            <div class="col-md-6 col-ms-12">
                <div class="image">
                    <img src="../../assets/images/Studying-amico (1).png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section reveal" (load)="apparition()" id="contact">
    <div class="sous-section-content container">
        <h2>Contactez-nous !</h2>
        <div class="row d-flex justify-content-between text-align-center content-about">
            <div class="col-md-3 col-xs-12 col-sm-6 text-align-center">
                <i class="pi pi-globe"></i>
                <h6>Web:</h6>
                <p>www.institutsaintjean.org</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 text-align-center">
                <i class="pi pi-at"></i>
                <h6>Email:</h6>
                <p>info@institutsaintjean.org</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 text-align-center">
                <i class="pi pi-send"></i>
                <h6>Bp:</h6>
                <p>175 yaoundé, Cameroun</p>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 text-align-center">
                <i class="pi pi-phone"></i>
                <h6>Telephone:</h6>
                <p>+237 33 43 99 80</p>
            </div>
        </div>
    </div>
</section>

<!-- localisation  -->
<section class="localisation-section reveal" id="localisation">
    <div class="location-content container">
        <h2>Localisation</h2>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8152794.364542331!2d7.006139125000019!3d3.8409399999999922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcfcf0621381b%3A0xbc12792dae9abba2!2sCarrefour%20des%20ACACIAS!5e0!3m2!1sfr!2scm!4v1626771084246!5m2!1sfr!2scm"
                width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
<!-- footer  -->
<section class="footer-section">
    <div class="footer-content container-fluid">
        <p>Copyright c this was made by ISJCompanie 2023-2024</p>
    </div>
</section>