<header class="header">
    <div class="subheader container">
        <div class="logo">
            <img src="../../../assets/images/usj.png" alt="">
        </div>
        <div class="navLinks">
            <ul>
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#apropos">A Propos</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#localisation">Localisation</a></li>
                <li class="lastChild"><a (click)="navigateToAuth()">Connexion</a></li>
            </ul>
        </div>
    </div>
</header>