.dashboard {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    height: auto;

    .cartes {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.404);
        background-color: white;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        .carteEtudiant {
            background: rgba(0, 128, 0, 0.281);
            border-radius: 15px;
            padding: 2em;

            .dessus {
                border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            }

            .bas {

                // display: flex;
                // align-items: center;
                // justify-content: center;
                li {
                    text-align: center;
                    width: 100%;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    margin-top: 1em;
                    border-radius: 10px;
                    background: rgba(0, 128, 0, 0.24);
                    cursor: pointer;
                }
            }
        }

        .cartePersonnel {
            background: rgba(0, 124, 128, 0.281);
            border-radius: 15px;
            padding: 2em;

            .dessus {
                border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            }

            .bas {

                // display: flex;
                // align-items: center;
                // justify-content: center;
                li {
                    text-align: center;
                    width: 100%;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    margin-top: 1em;
                    border-radius: 10px;
                    background: rgba(0, 124, 128, 0.24);
                    cursor: pointer;
                }
            }
        }

        .carteInterventions {
            background: rgba(128, 62, 0, 0.281);
            border-radius: 15px;
            padding: 2em;

            .dessus {
                border-bottom: 1px solid rgba(128, 128, 128, 0.493);
            }

            .bas {

                // display: flex;
                // align-items: center;
                // justify-content: center;
                li {
                    text-align: center;
                    width: 100%;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    margin-top: 1em;
                    border-radius: 10px;
                    background: rgba(128, 62, 0, 0.24);
                    cursor: pointer;
                }
            }
        }

    }

    .stats {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.404);
        background-color: white;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.chat {
    position: fixed;
    right: .5em;
    bottom: .5em;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--mainColor);
    color: white;
    font-weight: 600;

}

.message {
    position: fixed;
    bottom: 4em;
    right: .5em;
    width: 400px;
    background: white;
    max-height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.411);

    overflow: auto;
}