<div class="dashboard container main-content">
    <h2>Bon retour parmis nous !</h2>
    <div class="cartes">
        <div class="carteEtudiant">
            <div class="dessus">
                <h3>{{this.tailleEtudiant}}</h3>
                <p>Etudiant</p>
            </div>
            <div class="bas">
                <li [routerLink]="['personnel/etudiants']">Consulter</li>
            </div>
        </div>
        <div class="cartePersonnel">
            <div class="dessus">
                <h3>{{this.taillePersonnel}}</h3>
                <p>Personnel</p>
            </div>
            <div class="bas">
                <li [routerLink]="['personnel/personnels']">Consulter</li>
            </div>
        </div>
        <div class="carteInterventions">
            <div class="dessus">
                <h3>{{this.tailleIntervention}}</h3>
                <p>Interventions</p>
            </div>
            <div class="bas">
                <li [routerLink]="['interventions']">Consulter</li>
            </div>
        </div>
    </div>
    <div class="container stats">
        <div class="card">
            <p-chart class="chart" type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
</div>
<div *ngIf="composantVisible" class="message">
    <app-messages></app-messages>
</div>

<button class="chat" (click)="hidden()">
    <i class='bx bx-message-rounded-dots'></i>
</button>